PORT=3000
NODE_ENV=development
API_URL=http://100.65.175.83:3000

# PostgreSQL Configuration
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=nhakhoa_db
DB_HOST=localhost
DB_PORT=5432

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET=nhakhoa
MINIO_HOST=100.65.175.83
#MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false

# Image Processing Service Configuration
IMAGE_PROCESSING_SERVICE_URL=http://localhost:8001